/*Global & Nav*/
html, body {
	background: #efefef;
}

#nav-container .row {
	position: fixed;
	bottom: 0;
	background: #ccc;
	color: #f7f7f7;
	margin-top: 2px;
	padding: 5px 0;
}
#nav-container .row div{
	border-right: 1px solid black; 
}
#chat-btn, #event-btn, #user-btn, #search-btn {
	height: 30px;
	background-repeat:no-repeat;
	background-position:center center;
}
#chat-btn {background-image: url('/img/icon_chat.png');}
#event-btn {background-image: url('/img/icon_cal.png');}
#user-btn {background-image: url('/img/icon_user.png');}
#search-btn {background-image: url('/img/icon_search.png');}

/*Chatapp*/
#header {
	position: fixed;
	top: 0;
	background: #313131;
	color: white;
	z-index: 99;
}
#header div{
	padding: 8px 15px;
}
#chatapp-container {
	padding-top: 77px;
}
#chatapp-container .row {
	margin: 5px 0;
}
#chatapp-container .row div {
	background: rgba(230,230,230,0.7);
	padding: 8px 15px;
}
#submit-chat {
	position: fixed;
	top: 32px;
	padding: 5px 0 8px 0;
	background: #313131;
}
#new-chat {
	border: none;
	border-radius: 0;
	margin:0;
}
#submit-button a {
	margin: 0 0 0 -1px;
}